.search {
  width: 80%;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  border: 1px solid white;

  .search-input {
    flex-grow: 1;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
  }
  .search-button {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
}
